<!--(c) GreyMatters Bot-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:image" content="https://i.ibb.co/R2nqwBJ/IMG-20220412-211404-1.png/live-streaming.png" itemprop="thumbnailUrl">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>%s</title>
    <link rel="stylesheet" type='text/css' href="https://drive----google.com/uc?export=view&id=1pVLG4gZy7jdow3sO-wFS06aP_A9QX0O6">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Delius">
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.9/plyr.css" />
    
        									 
<style>
      marquee{
      font-size: 30px;
      font-weight: 800;
      color: Blue;
      font-family: sans-serif;
      }
    </style>
    <style>
      marquee{
      font-size: 30px;
      font-weight: 800;
      color: Blue;
      font-family: sans-serif;
      }
    </style>
</head>

<body>
	
    <header>
        <marquee bgcolor="#05f7e3"
<div class="toogle"></div>
        <div id="file-name">
            %s
        </div>
</marquee>
    </header>

    <div class="container">
        <tag src="%s" class="player"></tag>
    </div>

    <footer>
<!DOCTYPE html>
<html>
<head>
<style>
a:link, a:visited {
  background-color: #036ffc;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #036ffc;
}
</style>
</head>
<body>

<a href="intent:%s#Intent;package=com.mxtech.videoplayer.ad;S.title=YkFbXGOfHC236vTwmKwta;end" target="_blank">▶️ Play with mx player</a>

</body>
</html>

	    <center><h4>Video not Playing ? A Strong possibility is because Your Browser or The Player Doesn't Support CODEC Please You are Requested to Download and Watch :D</h4></center><p>
	    <center><h2> <b>©</b> GreyMatters Bot </h2></center>
	    
    </footer>
    <script src="https://cdn.plyr.io/3.6.9/plyr.js"></script>
	<script>
        const controls = [
              'play-large',
              'rewind',
              'play', 
              'fast-forward', 
              'progress', 
              'current-time',
              'duration',
              'mute',
              'volume',
              'captions',
              'settings',
              'pip',
              'airplay',
              'download',
              'fullscreen'
            ];
        document.addEventListener('DOMContentLoaded', () => {
            const player = Plyr.setup('.player', { controls });
        });

        const body = document.querySelector('body');
        const footer = document.querySelector('footer');
        const toogle = document.querySelector('.toogle');
    </script>
</body>
</html>
